/* styles.css */

/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Apply Montserrat font to .mainText class */
.mainText {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1.5; /* Adjust line height to ensure proper spacing */
  
}

.typingSpeed {
  padding-inline: 5px;
}

/* Keyframes for typing animation */
.cursor {
  display: inline-block;
  width: 3px; /* Adjust the width of the cursor */
  height: 1.2em; /* Adjust the height of the cursor */
  background-color: yellow; /* Color of the cursor */
  animation: blinkCursor 1s step-end infinite; /* Animation for blinking */
}

@keyframes blinkCursor {
  50% {
    opacity: 0; /* Hide the cursor at 50% of the animation */
  }
}

.typed-text {
  opacity: 0; /* Hide the text initially */
  transition: opacity 0.5s ease; /* Apply transition effect to opacity property */
}

.typed-text.visible {
  opacity: 1; /* Show the text */
}

/* .maindiv CSS remains unchanged from the previous version */
.maindiv {
  background-color: #28292b;
  color: white;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ensure text wraps correctly */
  word-wrap: break-word;
  font-size: 25px;
  font-family: sans-serif;
  width: 100%;
}
