/* styles.css */

/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Apply Montserrat font to .mainText class */
.mainText {
  font-family: "Montserrat", sans-serif;
  font-size:35px;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  font-weight: 700;
  
}
.typingSpeed{
  padding-inline: 5px;
  
}

